@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.top-nav-right > ul > li:not(:last-child) {
	margin-right:50px;
}

nav {
    height: 150px;
    background: #ffb52b;
}

/* background: #988179;*/

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: white;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background:  rgba(255 ,165 ,0,0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}

.notice_container {
	width:45%;
	height:500px;
	margin:100px auto;
	padding: 20px 15px;
	background:antiquewhite;
}

.notice_header {
	display:flex;
	justify-content: space-between;
	background-color: white;
	font-size:20px;
	padding:7px 10px;
	border-radius: 7px;
}

.notice_body {
	height:340px;
	margin-top:20px;
	background-color: white;
	padding:7px 10px;
	border-radius: 7px;
}

h4 {
	margin:10px;
}