@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

nav{
    width: 70%;
    margin: auto;
    background-color: gray;
}

.top-nav {
    background-color: gray;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 30px;
}

.middle-nav {
    height: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_genre > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
}

.nav_genre > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:-1px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.select_ {
    cursor: pointer;
    border-radius: 5px;
}

.bot-nav {
    height: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit_btn > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
}

.submit_btn > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:3px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.btn_day {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: gray;
    cursor: pointer;
}

.body_container {
	width:70%;
	height:840px;	
	margin:auto;
	background-color: antiquewhite;
	margin-top:50px;
}

.container_nav {
	display: flex;
	justify-content: space-between;
}

.title_info {
	margin : 30px 70px;
	width:100%;
	box-sizing: border-box;
	display: flex;
}

#main_img_size {
	width:420px;
	height:620px;
	margin-top : 50px;
}

.con_top {
	width:90%;
	margin: auto;
	padding-top:40px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.Like_btn{
	width:200px;
	height:50px;
	display:flex;
	justify-content: space-between;
}

.Like_btn > form > button {
	width:50px;
	height:50px;
}

.fa-heart {
	font-size:30px;
}

.information_left {
	width:40%;
}

.information_rigth {
	width:60%;
	margin: 50px 0 0 30px ;
}

.work_info, .comment{
	padding:10px;
	background-color: white;
	border-radius: 10px;
}

.comment {
	margin-top:20px;
}

.genre {
	font-size:22px;
}

.day, .company, .story, .art {
	margin-top:20px;
	font-size: 22px;
}

.Write_review {
	display:none;
	margin-top:70px;
	width:100%;
	height: 300px;
	background-color: antiquewhite;
}

.review {
	width:70%;
	margin:auto;
	padding-top:30px;
}

.review_title {
	width:50%;
	height:30px;
	margin-top:10px;
	font-size:20px;
}

.review_content {
	width:100%;
	height :100px;
	margin-top:30px;
}

.review_item {
	display:flex;
	justify-content: space-between;
	padding:10px;
}