@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

nav{
    width: 70%;
    margin: auto;
    background-color: gray;
}

.top-nav {
    background-color: gray;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 30px;
}

.middle-nav {
    height: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_genre > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
}

.nav_genre > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:-1px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.select_ {
    cursor: pointer;
    border-radius: 5px;
}

.bot-nav {
    height: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit_btn > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
}

.submit_btn > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:3px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.btn_day {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: gray;
    cursor: pointer;
}

.body_container {
	width:70%;
	height:800px;	
	margin:auto;
	background-color: antiquewhite;
	margin-top:50px;
}

.container_nav {
	display: flex;
	justify-content: space-between;
}