@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

nav{
    width: 100%;
    background: rgb(38, 41, 45);
}

.color_nav {
	width:100%;
	margin:auto;
}

.top-nav {
	width:70%;
	margin:auto;
    background: rgb(38, 41, 45);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 30px;
}

.color_w, .nav_genre > ul >li {
	color:white;
}

.middle-nav {
	width:70%;
	margin:auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_genre > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
}

.nav_genre > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:-1px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.select_ {
    cursor: pointer;
    border-radius: 5px;
}

.bot-nav {
	width:70%;
    height: 50px;
	margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit_btn > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
}

.submit_btn > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:3px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.btn_day {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: gray;
    cursor: pointer;
}

.main_body {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.search_btn {
	display:flex;
	justify-content: flex-end;
	padding-top:10px;
	padding-right:10px;
}

.informations {
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
}

.info_card {
    display: inline-block;
    margin: 20px 0 0px 43px;
    background:white;
}

.img_size{
    width: 197px;
    height: 250px;
    object-fit: cover;
}

.card_title { 
    font-weight: 500;
    font-size:12px;
    margin: 0;
}

.card_title > span {
	text-align: right;
	
}

.up_day {
	font-size:12px;
	margin: 0;
}

.author {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.btn_shape {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.search__btn {
	padding :5px;
	width:100px;
	margin-right: 20px;
	border-radius: 10px;
	background:white;
}