@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

nav {
    height: 150px;
    background: rgb(38, 41, 45);
}

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach_text {
    width: 400px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    text-align: center;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li {
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    text-align: center;
    color: white;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 210px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background: rgba(35, 36, 45, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.main_body {
    width: 60%;
    margin: auto;
    box-sizing: content-box;
}

.img_in {
    width: 40%;
    height: 580px;
    margin: 20px;
}

.top_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-container {
    overflow: hidden;
    position: relative;
  }

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width: 100%;
    height: 100%;
}

.swiper-button-next{
    color: #fff !important;
}
.swiper-button-prev{
    color: #fff !important;
}

.body_container{
    display: flex;
}

.con-right{
    width: 60%;
    margin-left: 1%;
    margin-right: 20px;
    display: inline-block;
}

.right_half, .right_half_lp {
    display: inline-block;
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
    width: 49%;
    height: 300px;
    background-color: antiquewhite;
}

.right_half{
    float: left;
}

.right_half_lp{
    padding: 20px 10px;
    margin-left:2%;
}

.inline_b , .live_best{
    width: 90%;
    margin: 10px auto;
}

.w_text{
    width: 100%;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 15px;
}

.btn_login {
    width: 100%;
    margin: 15px auto;
    padding: 6px;
}

.find {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 15px;
}

.user {
	width:90%;
	margin:auto;
}

.Account {
	margin-top : 10px;
}

.Account > span {
	font-size:24px;
	margin-left:10px;
}

.user_img {
	width:100%;
	margin-top : 10px;
	margin-bottom:10px;
	display:flex;
}

.user_img > img{
	width:80px;
	heigth:80px;
}

.user_mid {
	width:100%;
	display:inline-block;
}

.mid {
	margin-top:20px;
	text-align: right;
}

.mid > a {
	color: black;
	border:1px solid black;
	border-radius:5px;
	padding: 10px 5px;	
	background-color:#999;
}


.sign_up {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.sign_up {
    color: black;
}

.live_best{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.live_best:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
    width: 90%;
    height: 1px;
    z-index: 1;
}

.right{
    width: 100%;
    height: 260px;
    margin-top: 20px;
    background-color: aquamarine;
}

.img_banner {
    position: relative;
    width: 100%;
    z-index: 10;
    margin-top: 50px;
}

.Img {
    width: 100%;
    height: 400px;
}

.img_font {
    position: absolute;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Castoro Titling', cursive;
    color: red;
}

.sel_genre{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
}

.select_view , .btn_submit {
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background: #888;
}

.btn_submit{
    width: 50px;
}

.select_view {
    width: 150px;
}

.genre {
    width: 60%;
    margin: 30px auto 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10px;
}

.genres {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgs {
    position: relative;
    display: inline;
    box-sizing: content-box;
    margin: 20px 0 0 15px;
    transition: all 0.3s ease;
}

.genre_img {
    width: 100%;
    border-radius: 50%;
    border: none ;
}

.genre_font {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}


/* .imgs:nth-child(1):hover {  
    filter: invert(100%);
}
.imgs:nth-child(2):hover {  
    filter: sepia(30%);
}
.imgs:nth-child(3):hover {  
    filter: brightness(50%);
}
.imgs:nth-child(4):hover {  
   filter: hue-rotate(120deg);
}
.imgs:nth-child(5):hover {  
    filter: invert(100%);
} */

.live_recomend , .live_recomend_bot{
    width: 60%;
    margin: auto;
    border: 1px solid blueviolet;
}

.pick {
    width: 90%;
    margin: 40px auto;
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pick_list {
    width: 24%;

}

.pick_img {
    width: 90%;
    margin: auto;
}

.pick_imgs{
    width: 100%;
    height: 200px;
    margin: auto;
}

.book_introduction {
    width: 90%;
    margin: auto;
    padding-left: 15px;
}

.book_genre {
    margin-top: 10px;
}

.live_recomend_bot {
    margin-top: 80px;
}