@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.top-nav-right > ul > li:not(:last-child) {
	margin-right:50px;
}

nav {
    height: 150px;
    background: #ffb52b;
}

/* background: #988179;*/

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    font-weight:600;
    font-size:18px;
    text-align: center;
    color: white;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background:  rgba(255 ,165 ,0,0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 550;
}

.main_body {
    width: 60%;
    margin: auto;
    box-sizing: content-box;
}

.img_in {
    width: 40%;
    height: 580px;
    margin: 20px;
}

.top_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-container {
    overflow: hidden;
    position: relative;
  }

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width: 100%;
    height: 100%;
}

.swiper-button-next{
    color: #fff !important;
}

.swiper-button-prev{
    color: #fff !important;
}

.body_container{
    display: flex;
}

.con-right{
    width: 60%;
    margin-left: 1%;
    margin-right: 20px;
    display: inline-block;
}

.right_half, .right_half_lp {
    display: inline-block;
    margin-top: 20px;
    box-sizing: border-box;
    width: 49%;
    height: 300px;
    background-color:antiquewhite;
}

.login_container {
	text-align: center;
	font-weight: 600;
}

.right_half{
    float: left;
    overflow:hidden;
}

.right_in {
	background-color: white;
	width:80%;
	height:210px;
	margin:10px auto;
	border-radius: 10px;
	word-break: break-all
}

.login_in {
	background-color: white;
	width:85%;
	height:240px;
	margin:10px auto;
	border-radius: 10px;
}

.login_like, .login_like_none {
	display:block;
	width:95%;
	height:185px;
	margin:auto;
	padding-top:10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break:break-all;
	overflow: hidden;
}

.login_like_none {
	display:flex !important;
	align-items: center;
	justify-content: center;
}

.Like_link:hover {
	color:blue;
}

.login_like > a{
	color:black;
	margin-left:5px;
}

.login_like > hr {
	margin-top:3px;
}

.like_more {
	text-align: center;
	width:50px;
	margin:15px auto;
}

.right_half_lp{
    padding: 10px 0px;
    margin-left:2%;
}

.inline_b , .live_best{
    width: 90%;
    margin: 5px auto;
}

.w_text{
    width: 100%;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 15px;
    padding-left:10px;
}

.btn_login {
    width: 100%;
    margin: 15px auto;
    padding: 6px;
}

.find {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 15px;
}

.find_id:hover, .find_pw:hover, .sign_up:hover {
	text-decoration: underline;
}

.user {
	width:90%;
	margin:auto;
}

.Account {
	margin : 10px 0;
}

.Account > span {
	font-size:24px;
	margin-left:10px;
}

.user_img {
	width:100%;
	margin-top : 10px;
	margin-bottom:10px;
	display:flex;
	align-items: center;
}

.user_img > img{
	width:80px;
	height:80px;
}

.user_mid {
	width:100%;
	display:inline-block;
}

.mid_logout {
	display:flex;
	justify-content: flex-end;
}

.mid {
	margin-top:40px;
	margin-right:10px;
	display:flex;
	align-items:flex-end;
	justify-content: flex-end;
}

.mid > a , .mid_logout > a{
	display:block;
	width:100px;
	color: black;
	border-radius:5px;
	padding: 8px;	
	background-color: #EECC95;
	text-align: center;
}


.sign_up {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.sign_up {
    color: black;
}

.live_best{
    width: 100%;
    font-weight:600;
    position: relative;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.live_best:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10px;
    width: 90%;
    height: 1px;
    z-index: 1;
}

.h3_display {
	text-align: center;
}

.Write_review_list{
    width: 100%;
    height: 260px;
    margin-top: 10px;
	background-color:antiquewhite;
    display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 8px 0 0 0;
}

.Write_in {
	background: white;
	width:90%;
	margin:10px auto;
	border-radius: 10px;
}

.review_list {
	padding:5px 10px;
}

.review_list:hover {
	text-decoration: underline;
}

.review_item {
	display:flex;
	justify-content: space-between;
	padding:3px 0px;
}

.color_b {
	color:black;
}

.mt-30 {
	display:flex;
	margin-top:30px;
	text-align: center;
	justify-content: space-around;
}

.color_black {
	color:black;
	border-radius:10px;
	background-color: #EECC95;
	padding:10px 20px;
}

.more_review_list {
	display:flex;
	align-items:center;
	justify-content:center;
	color:black;
	background-color: antiquewhite;
	width:100%;
	flex:1;
}

.more_review_list_not_loign {
	width:100%;
	height:220px;
	background-color: white;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius: 20px;
}

.h2_display {
	display:none;
    padding:10px;
    background-color: aquamarine;
}

.sel_genre{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
}

.select_view , .btn_submit {
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background: #EECC95;
}

.btn_submit{
    width: 50px;
    cursor: pointer;
}

.select_view {
    width: 150px;
    cursor: pointer;
}

.genre {
    width: 60%;
    margin: 30px auto 70px;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: antiquewhite;
}

.genre_, .day_ {
	width:120px;
	height: 30px;
	text-align: center;
	padding-top:5px;
	cursor: pointer;
	background-color:white;
	border-radius: 10px;
}

.genres {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgs {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    margin: 20px 0 0 15px;
    transition: all 0.3s ease;
}

.genre_img {
    width: 100%;
    border-radius: 50%;
    border: none ;
}

.genre_font {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}


/* .imgs:nth-child(1):hover {  
    filter: invert(100%);
}
.imgs:nth-child(2):hover {  
    filter: sepia(30%);
}
.imgs:nth-child(3):hover {  
    filter: brightness(50%);
}
.imgs:nth-child(4):hover {  
   filter: hue-rotate(120deg);
}
.imgs:nth-child(5):hover {  
    filter: invert(100%);
} */

.container_pick{
	width: 60%;
	margin: auto;
	border-radius: 10px;
	padding: 20px 10px;
	background-color: antiquewhite;
}

.live_recomend , .live_recomend_bot{
    width: 100%;
    margin: 20px auto;
    display:flex;
    justify-content: space-around;
}

.pick {
    width: 100%;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
}

.pick_after {
    width: 100%;
    margin: 20px auto 0;
    border-radius: 5px;
}

.pick_list_a {
	width: 500px;
	height:350px;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pick_list_b {
    width: 230px;
    height:350px;
    display:block;
}

.pick_img {
    width: 90%;
    margin: auto;
}

.pick_imgs{
	width:100%;
    height: 300px;
    margin: auto;
}

.book_introduction {
    width: 90%;
    margin: auto;
    padding-left: 15px;
}

.book_title{
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break:break-all;
	overflow: hidden;
}

.book_genre {
    margin-top: 10px;
}

.live_recomend_bot {
    margin-top: 80px;
}


.footer_fot ul {
	padding: 0px;
}

.footer_fot ul li {
    display:inline-block;
    align-items: center;
    font-size:18px;
    font-weight: 600;
}

footer {
    width: 100%;
    height: 250px;
    background: #ffb52b;
    color: white;
    margin-top:80px;
}

.footer_fot ul li:nth-child(n+2) {
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}

.footer_fot ul li:nth-child(n+2)::after {
    position: absolute;
    top: 3px;
    left: 1px;
    content: "";
    width: 1px;
    height: 16px;
    background-color: white;
}

.footer_fot {
    width: 50%;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserved {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight: 600;
    margin-top:10px;
}
