@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
	color:black;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

nav {
    height: 150px;
    background: rgb(38, 41, 45);
}

.top-nav {
    width: 60%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 50px;
    color: white;
}

.top-nav-right > ul > li{
    color: white;
}

.top-nav-right > ul > li > a{
    color: white;
}

.bot {
    width: 60%;
    height: 80px;
    margin: auto;
}

.bot-nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w150 {
    width: 150px;
    text-align: center;
    color: white;
}

.bot:hover ~ .hide-nav{
    display:flex;
}

.hide-nav:hover {
    display: flex;
}

.hide-nav {
    position: relative;
    height: 270px;
    display: none;
    justify-content: space-around;
    z-index: 5;
    background: rgba(35, 36, 45, 0.9);
}

.hide_nav_width {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.around {
    width: 150px;
}

.pt20 {
    height: 30px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.body_container {
	width:60%;
	margin:50px auto;
	border:1px solid black;
}

.list {
	display: flex;
	justify-content: space-between;
	margin:30px 20px;
}

.title {
	width:20%;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break:break-all;
	overflow: hidden;
}

.text {
	width:60%;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break:break-all;
	overflow: hidden;
}

.day{
	width:10%;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break:break-all;
	overflow: hidden;
}

.page {
	width:50%;
	margin:50px auto;
	text-align: center;
	
}