@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

nav{
    width: 100%;
     background: #ffb52b;
}

.color_nav {
	width:100%;
	margin:auto;
}

.top-nav {
	width:70%;
	margin:auto;
    background: #ffb52b;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-right {
	float:right;
}

.serach {
	display:flex;
}

.serach_text {
    width: 500px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin-left:50px;
    text-align: center;
}

.top-nav-left {
    margin-left: 30px;
}

.color_w, .nav_genre > ul >li {
	color:white;
	margin-right:50px;
}

.color_w > a {
	color:white;
}

.middle-nav {
	width:70%;
	margin:auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_genre > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
    font-size:16px;
   
}

.nav_genre > ul > li:hover {
	background-color: #FF8339;
	padding:5px;
	border-radius: 5px;
}

.nav_genre > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:-1px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.select_ {
    cursor: pointer;
    border-radius: 5px;
}

.bot-nav {
	width:70%;
    height: 50px;
	margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit_btn > ul > li:nth-child(n+1){
    position: relative;
    margin-left: 10px;
     margin-right:50px;
}

.submit_btn > ul > li:not(:last-child)::after{
    position: absolute;
    content: "";
    top:3px;
    right: -35px;
    width: 1px;
    height: 25px;
    background-color: white;
}

.btn_day {
	border:0;
    border-radius: 5px;
    cursor: pointer;
    background: #ffb52b;
    color:white;
    font-size:16px;
}

.btn_day:hover {
	background-color: #FF8339;
	padding:5px;
	border-radius: 5px;
}

.like_list {
	width:60%;
	margin: 100px auto;
	border: 1px solid black;
	border-radius: 10px;
	padding:50px 30px; 
	box-sizing: border-box;
	background-color: #F5D0A9;
}

.list_container {
	background-color: white;
	border: 1px solid black;
}

.btn_submit {
	float:left;
	width:33%;
	height:337px;
}

.like_url >img {
	width:180px;
	height: 260px;
}

.page > ul {
	text-align: center;
}